body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* bottom Navigation */
.bottom-nav {
  display: none;
  position: fixed;
  bottom: 0;
  background-color: #6c757d;
  color: #fff;
  font-family: "Special Elite", cursive;
}

.drawerNav {
  width: 320px;
  position: fixed;
  bottom: 0;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  background: #6c757d;
  padding: 10px;
}

.nav-link:hover {
  /* background: radial-gradient(#000000, #6c757d); */
  color: #eeb6f9;
}

.aboutMeLinkStyle:hover {
  background-color: #000000;
  color: #eeb6f9;
}

.loginBtn:hover {
  background-color: #000000;
  color: #eeb6f9;
}

.modalImage {
  display: block;
  width: 100vw;
  height: 100%;
  position: relative;
  z-index: 1;
}

.modal-body-wrap {
  width: 100vw;
}

.modal-body {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0px;
}

.mobileModal {
  background: rgba(0, 0, 0, 0.4);
  padding-left: 0px;
  padding-right: 0px;
}

.modal-image-text-wrapper {
  display: flexbox;
  width: 100vw;
  position: absolute;
  z-index: 1;
  text-align: center;
}

.modal-image-text {
  width: 100vw;
  text-align: center;
  padding: 5px;
  z-index: 2;
  display: block;
  font-family: "Special Elite", cursive;
  color: #fff;
  /* bottom: 5px;
  position: absolute; */
}

.images {
  min-width: 100%;
  height: 100vh;
  max-width: 150%;
}

.modal-footer {
  background-color: #000000;
  border: solid black;
}

.overlay {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0) 10%
    ),
    linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 40%);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* upload button */
.input {
  display: none;
}

.label {
  font-size: 15pt;
  color: #fff;
  background-color: #000000;
  padding: 10px 40px;
  margin: 10px;
  border-radius: 25px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  place-items: center;
}

/* sidebar */
.nav-container {
  display: block;
  height: 100vh;
  z-index: 1;
  background-color: #ffffff;
  width: 320px;
  /* z-index: 1; */
  font-family: "Special Elite", cursive;
  box-shadow: 3px 5px 7px 3px rgba(0, 0, 0, 0.5),
    3px 5px 7px 3px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  position: relative;
  top: 0;
  right: 0;
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

.instagram {
  text-decoration: none;
  border-radius: 12px;
  height: 42px;
  color: #fff;
  padding: 0px 4px;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  transition: 500ms;
}

.email {
  text-decoration: none;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  color: #25292d;
  height: 42px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  transition: 500ms;
}
.instagram:hover {
  opacity: 0.8;
  color: #25292d;
  height: 39px;
}
.email:hover {
  opacity: 0.8;
  color: rgb(201, 44, 25);
  height: 39px;
}

.introduction {
  font-family: "Alata", sans-serif;
}

.introSentence {
  font-style: italic;
}

.imageGridSection {
  margin-bottom: 150px;
}

/* logo */
.ink {
  z-index: 1;
  position: absolute;
  top: 60px;
  right: 70px;
  color: #ffffff;
}

.inkImage {
  z-index: 0;
  position: absolute;
  right: 30px;
  top: 5px;
  width: 150px;
}

.white {
  position: absolute;
  top: 60px;
  right: 153px;
}

.logoContainer {
  height: 145px;
  display: flex;
  justify-content: center;
}

.closeArrow {
  color: #6c757d;
}
.closeArrow:hover {
  color: #000000;
}

.menu {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ffffff;
}

.menuLg {
  display: none;
  z-index: 1;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffffff;
  transition: height 500ms ease;
}

.subtitleContainer {
  text-align: center;
}

/* transitions */
.navMenuLg-enter {
  opacity: 0;
}

.navMenuLg-enter-active {
  transition: all 500ms ease;
  opacity: 1;
}

.navMenuLg-exit {
  opacity: 1;
}

.navMenuLg-exit-active {
  opacity: 0;
  transition: all 500ms ease;
}

.navMenuMd-enter {
  opacity: 0;
}

.navMenuMd-enter-active {
  opacity: 1;
  transition: all 1000ms ease;
}

.navMenuMd-exit {
  opacity: 1;
}

.navMenuMd-exit-active {
  opacity: 0;
  transition: all 1000ms ease;
}

.header-mobile {
  display: none;
}

/* gallery */
.gallery-images {
  min-width: 50%;
  min-height: 100%;
  max-width: 100%;
  max-height: 220%;
  opacity: 1;
}
.admin-gallery-images {
  min-width: 50%;
  min-height: 100%;
  max-width: 150%;
  max-height: 110%;
  opacity: 1;
}

.imageGridContainer {
  margin-top: 40px;
}

.imageWrap {
  width: 200px;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
  opacity: 1;
  display: flexbox;
  justify-content: center;
  align-items: center;
  /* background-color: #333; */
  /* box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5); */
}
.adminImageWrap {
  width: 200px;
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
  opacity: 1;
  background-color: #333;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}

.image-col {
  display: flex;
  justify-content: center;
  opacity: 1;
  align-items: space-between;
}

.mobile-image-grid {
  display: none;
}

.spinner {
  height: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
}

.main-bg {
  display: none;
}

.caption {
  font-family: "Special Elite", cursive;
  margin-bottom: 100px;
  font-size: 20pt;
  z-index: 1;
}

/* about me */

.aboutContainer {
  margin-bottom: 116px;
}

.headerAbout {
  display: block;
  font-family: "Special Elite", cursive;
  z-index: 2;
}

.inkAbout {
  z-index: 1;
  color: #ffffff;
  position: relative;
  right: 0px;
  top: 60px;
}

.inkImageAbout {
  z-index: 0;
  width: 150px;
  position: relative;
  left: 75px;
  top: -50px;
}

.whiteAbout {
  position: relative;
  right: 10px;
  top: 60px;
}

.logoContainerAbout {
  justify-content: center;
  display: flex;
  height: 150px;
}

.logoWrapperAbout {
  width: fit-content;
}

.aboutMeContainer {
  margin-top: 40px;
  min-height: 600px;
  border-radius: 10px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  font-family: "Special Elite", cursive;
  color: #fff;
  padding: 10px;
}

.aboutMeImage {
  width: 150px;
  border-radius: 5px;
}

.aboutMePgh {
  color: #fff;
  font-family: "Kalam", cursive;
  font-size: 15pt;
  padding: 40px;
}

.image-border {
  border: solid 1px gray;
  border-radius: 5px;
}

.adminMain {
  padding: 20px;
}

.arrowBtn {
  background-color: #25292d;
  border-color: #25292d;
}
@media only screen and (max-width: 800px) {
  .imageGridContainer {
    margin-bottom: 116px;
  }
  .aboutMeLink {
    display: none;
  }

  .bottom-nav {
    display: block;
    z-index: 1;
  }
  .nav-container {
    display: none;
  }
  .menuLg {
    display: none;
  }
  .nav-container-lg {
    display: none;
  }
  .carousel {
    display: none;
  }
  .header-mobile {
    display: block;
    font-family: "Special Elite", cursive;
    z-index: 2;
  }

  .mobile-image-grid {
    display: block;
  }

  .imageWrap {
    height: 200px;
    width: 100%;
    position: relative;
    z-index: -1;
  }

  .gallery-images {
    z-index: 1;
    position: absolute;
  }

  /* background image mobile */
  .main-bg {
    display: block;
    filter: blur(8px);
    -webkit-filter: blur(8px);

    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  /* logo mobile */
  .inkMobile {
    z-index: 1;
    color: #ffffff;
    position: relative;
    right: 0px;
    top: 60px;
  }

  .inkImageMobile {
    z-index: 0;
    width: 150px;
    position: relative;
    left: 75px;
    top: -50px;
  }

  .whiteMobile {
    position: relative;
    right: 10px;
    top: 60px;
  }

  .logoContainerMobile {
    justify-content: center;
    display: inline-flex;
    height: 150px;
    width: 100vw;
  }

  .logoWrapperMobile {
    width: fit-content;
  }
}

@media only screen and (max-width: 575px) {
  .imageWrap {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 0px;
    /* background-color: #333; */
    position: relative;
    z-index: -1;
  }

  .gallery-image-text-wrapper {
    display: flexbox;
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: 2;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    text-align: center;
  }

  .gallery-image-text {
    width: 100%;
    text-align: center;
    padding: 5px;
    z-index: 3;
    display: block;
    font-family: "Special Elite", cursive;
    color: #fff;
    bottom: 5px;
    position: absolute;
  }

  .gallery-images {
    z-index: 1;
    position: absolute;
  }
}
